# Environments
venv/
.venv/
.venv_win/
__pycache__/
*.pyc
py_env/
backend/.venv_convert/

# Node
frontend/node_modules/
frontend/.next/
frontend/.vercel/
frontend/dist/
frontend/.nitro/
frontend/.output/

# Environment Variables
.env
.env.local
*.env

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Other
miniconda.exe
python.zip
arzo-healthcare-main.zip
frontend_backup/
scratch/
backend/models/*.keras
backend/models/*.h5